name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
      - "build/**"
      - ".github/workflows/docker-build.yml"
  schedule:
    - cron: "0 0 * * 0"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: ./build
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/simplesocks5:alpine
            ghcr.io/${{ github.repository_owner }}/simplesocks5:latest
